<div class="row">
<div class="col-s6">

<div class="card-content white-text card blue-grey darken-1">
        <span class="card-title">Asistencia</span>

<form #frm="ngForm" (ngModel)="frm" >

<div class="row">
	<div class="input-field col-s6">
		 <input id="email" type="email" [(ngModel)]="email" name="email" class="validate white-text">
         <label for="email">Correo</label>
              </div>
            </div>

 <div class="input-field col-s6">
          <input id="asunto" type="text" [(ngModel)]="asunto" name="asunto" class="validate white-text">
          <label for="asunto">Asunto</label>
        </div>


  <div class="col-s6">
          <div class="file-field input-field">
	            <div class="btn">
	              <span>Archivo Adjunto</span>
	              <input type="file"  >
	            </div>
	            <div class="file-path-wrapper">
	              <input class="file-path validate" type="text" id="archivo" [(ngModel)]="archivo" name="archivo" placeholder="">
	            </div>
          </div>      
	</div>

 <div class="card-action">
        <div class="row">
          <div class="col-s6">
            <div class="row">
              <div class="input-field col-6">
                <textarea id="mensaje" [(ngModel)]="mensaje" name="mensaje" class="materialize-textarea white-text"></textarea>
                <label for="mensaje">Descripcion</label>
              </div>
            </div>
        </div>
      </div>
      
      <div>
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="EnviarData(frm)">Enviar
        <i class="material-icons right">send</i>
      </button>

      <button class="btn waves-effect waves-light " type="button" (click)="limpiar(frm)" >Limpiar
        <i class="material-icons  right">clear_all</i>
      </button>
    </div>
    </div>   
</form>

<span> {{ toast }} </span>

</div>
</div>
</div>
