<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Help Desk</a>
</nav>
<br>

<div class="card col-md-6">
    <div class="card-header bg-dark text-white ">
        Login
    </div>
    <div class="card-body">
        <form class="form-check">
            <div class="form-group">
                <!--<label for="exampleInputEmail1">Email</label>-->
                <input type="email" class="form-control col-md-6" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">

            </div>
            <div class="form-group">
                <!-- <label for="exampleInputPassword1">Password</label>-->
                <input type="password" class="form-control col-md-6" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Acceder</button>
        </form>
    </div>
</div>