
<div class="container">
<div class="col s12 m7">
    <h2 class="header">Login</h2>
    <div class="card horizontal">
      <div class="card-image">

      </div>
      <div class="card-stacked">
        <div class="card-content">

            <div class="row">
                <form class="col s6">

                  <div class="row">
                  <div class="row">
                    <div class="input-field col s6">
                      <input #email  type="email" ng-model="email" name="email"   class="validate">
                      <label for="email"> Email </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s6">
                      <input #pass type="password" ng-model="pass" name="pass" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <button class="btn waves-effect waves-light" (click)="newAcceder(email.value, pass.value)"  >Acceder
                    <i class="material-icons right">send</i>
                  </button>
                  <br>
                  <br>
                  <br>
                  <div>
                    <a [routerLink]="['/registro']">Registrarse</a>
                  </div>
                      </div>
                </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>










