<form>
    <div class="col-xs-5 col-md-3">
        <label>Correo</label>
        <input type="text" name="correo" placeholder="Correo" class="form-control">
    </div>
    <div class="col-xs-5 col-md-3">
        <label>Asunto</label>
        <input type=" text " name="asunto " placeholder="Asunto " class="form-control ">
    </div>
    <div class="col-xs-5 col-md-3">
        <label>Mensaje</label>
        <textarea name="mensaje " cols="40 " rows="5 " class="form-control " placeholder="Cuerpo del mensaje ">

    </textarea>
    </div>
    <div class="col-xs-5 col-md-3">
        <button type="button " class="btn btn-primary">Enviar</button>
    </div>
</form>