<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help Desk</title>
  <base href="#/">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper  black darken-2">
          <a href="/login" class="brand-logo">Help Desk</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              {{ usuario }}</li>
          </ul>
        </div>
      </nav>

      <router-outlet></router-outlet>

</body>
</html>


