
  <div class="container">
      <div class="col s12 m7">
          <h2 class="header">Registrarse</h2>
          <div class="card horizontal">

            <div class="card-stacked">
              <div class="card-content">


    <div class="row">
        <form class="col s12">

          <div class="row">
              <div class="input-field col s6">
                  <input #user type="text" ng-model="user" name="user"  class="validate">
                  <label for="usuario">Usuario</label>
              </div>

          <div class="row">
                <div class="input-field col s12">
                  <input #pass type="password" ng-model="password" name="pass"  class="validate">
                  <label for="password">Password</label>
                </div>
          </div>

          <div class="row">
                <div class="input-field col s12">
                  <input #correo type="email" ng-model="correo"  name="correo"  class="validate">
                  <label for="email">Email</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" (click)="Registrarse(user.value, correo.value, pass.value)">Registrar
                <i class="material-icons right">send</i>
              </button>



          </div>
        </form>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
